<%-include ('header.ejs')%>
<%
	let adoptedClass = "";
	if (monster.adopted == true) {
		adoptedClass = 'adopted';
	} else {
		adoptedClass = 'notAdopted';
	}
%>

<section>
	<inner-column>
		<h1 class="heyyou-voice"><%= monster.name %></h1>
		<monster-detail>
			<div class="detail-heading-photo">

				<picture class="detail-image">
					<img src="../<%= monster.portrait %>" alt="">
				</picture>
			</div>
			<div class="detail-text">
				<p class="info-voice">Hi, I'm <%=monster.name%>! I'm <%= monster.age%> years old. Here are some of my favorite things:</p>
				<ul class="favorites-list reading-voice">
					<li>Favorite food: <%= monster.favoriteFood%></li>
					<li>Favorite toy: <%= monster.favoriteToy %></li>
					<li>Favorite animal: <%= monster.favoriteAnimal %></li>
				</ul>
				<p class="adoption-status strong-voice">Adoption status: 
						<% if (monster.adopted == true) { %>
							<span class="<%=adoptedClass%>">ADOPTED</span>
						<% } else { %>
							<span class="<%=adoptedClass%>">Not adopted yet</span><button class="site-button info-voice" href="">ADOPT ME</button> <% }%>
				</p>
			</div>
		</monster-detail>

	</inner-column>
</section>

<%-include ('footer.ejs')%>