<monster-card>
	<picture class="monster-image">
		<img src="<%= monster.portrait%>" alt="">
	</picture>
	<a class="info-voice site-button" href="/monsters/<%=monster.slug%>"><%= monster.name%></a>
	<% if(monster.adopted == true) { %>
	<p class="reading-voice <%=adoptedClass%>">Already adopted!</p><% } else { %>
	<p class="reading-voice <%=adoptedClass%>">Still looking for a home</p>

	<% } %>
</monster-card>